.Andaman-tour{
  padding: 20px 40px;


}
.andaman-heading{
  font-size: 2.5rem;
  margin-bottom: 2%;
}
.andaman-heading::after {
  content: "";
  padding: 2px;
  width: 5%;
  display: flex;
  background-color: #32b67a;
}
.andaman-content{
   font-size: 16px;
   color: #666666;
}
.list-div{
  color: #666666;
  margin-top: 30px;

}
.list-name{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 19px 6px 0px;
 

}
.no-symbol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

 .sightseeing-div .sightseeing-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 5%;
  font-size: 176%;
  font-weight: 500;
  margin-top: 8%;

}

.sightseeing-div .sightseeing-title::before,
.sightseeing-div .sightseeing-title::after {
  content: "";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; 
  margin: 0 10px; 
  height: 6px;
}

.sightseeing-div .sightseeing-title::before {
  border-top: 2px solid rgba(0, 0, 0, 0.4); 
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.sightseeing-div .sightseeing-title::after {
  border-top: 2px solid rgba(0, 0, 0, 0.4);

  border-bottom: 2px solid rgba(0, 0, 0, 0.4);

}

.sightseeing-div .sightseeing-title span {
  display: inline-block;
}

/* water */

.Watersports-div .Watersports-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 176%;
  font-weight: 500;
}

.Watersports-div .Watersports-title::before,
.Watersports-div .Watersports-title::after {
  content: "";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; 
  margin: 0 10px; 
  height: 6px;
}

.Watersports-div .Watersports-title::before {
  border-top: 2px solid rgba(0, 0, 0, 0.4); 
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.Watersports-div .Watersports-title::after {
  border-top: 2px solid rgba(0, 0, 0, 0.4);

  border-bottom: 2px solid rgba(0, 0, 0, 0.4);

}

.Watersports-div .Watersports-title span {
  display: inline-block;
}

/* card */

.AndamanContainer{
  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
  }
 

  .WaterSportContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    margin-top: 30px;
  }
  
  .last-company {
    flex: 0 0 calc(50% - 15px); 
  }
  


  
  @media screen and (max-width:320px){
    .list-name{
      column-gap: 9px !important;
    }
    .sightseeing-div {
      margin-top: 96% !important;
  }
    .sightseeing-div, .sightseeing-title {
      margin-top: 262px !important;
  }
  .andaman-heading::after {
       width: 25%;
  }

.andaman-heading{

    font-size: 32px;

}
.sightseeing-div .sightseeing-title {
  margin-top: 108% !important;
}

  }
  @media(width:360px){
    .sightseeing-div .sightseeing-title{
      margin-top: 95% !important;

    }
     
  }
  @media(width:375px){
    .sightseeing-div .sightseeing-title{
      margin-top: 95% !important;

    }
     
  }
   
  @media (max-width: 480px) and (min-width:360px){
  
    .sightseeing-div{
      margin-top: 56% !important;
  
    }
    .list-name{
      column-gap: 27px;
      text-align: center;
      

    }
    .AndamanContainer{
      width: 111%;
      margin-left: -3%;

    }
    .WaterSportContainer{
      width: 111%;
      margin-left: -3%;


    }
    .andaman-content{
      
        text-align: justify;
    }
  
    .sightseeing-div .sightseeing-title {
      margin-top: 95% !important;
  }
  .andaman-heading::after {
        width: 21%;
  }

  }
  @media screen and (max-width: 768px) {
    .AndamanContainer {
      justify-content: center;
  }
  .WaterSportContainer{
     justify-content: center;
  
  }
  }
  @media(max-width:600px){
    .Andaman-tour{
      padding: 10px !important;
    }
  }
  @media (width:600px){
    .sightseeing-div .sightseeing-title{
    margin-top: 30%;
  }
    .sightseeing-div{

      margin-top: 25%;
  }
  
  }
  @media (max-width: 840px){
    .list-div{
      margin-bottom: 30px;
  }
 .sightseeing-div{

    margin-top: 18%;
}
.sightseeing-title{

    margin-top: 10%;
}

.sightseeing-div .sightseeing-title{
  margin-top: 30%;
}
 
  }
  @media(width:884px){
    .sightseeing-title{

      margin-top: 10% !important;
  }
  
  }
  @media(max-width:900px){
    .Andaman-tour {
      padding: 10px;
  }
  }