.munnar-intro {
  padding: 20px 40px;
}

.munnar-intro h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.munnar-intro h1::after {
  content: "";
  padding: 2px;
  width: 10%;
  display: block;
  background-color: #32b67a;
  margin-top: 10px;
}

.munnarInfo {
  margin-top: 30px;
}

.munnarInfo h2 {
  font-weight: 600;
}

.munnarInfo p {
  color: #7c7c8b;
}

.munnarInfo p span {
  color: #4d4d50;
  font-weight: bold;
}

.friAndFam {
  margin-top: 20px;
  font-size: 40px;
  line-height: 1.125em;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}
.friAndFam h2 {
  background-color: #f4f4f4;
  display: inline-block;
  position: relative;
  color: rgb(0, 0, 0);
  padding: 0 30px;
  font-weight: 500;
  z-index: 1;
  font-size: 2rem;
}
.friAndFam::after,
.friAndFam::before {
  content: "";
  padding: 0.5px;
  display: flex;
  position: absolute;
  width: 100%;
  background-color: #7c7c8b;
}

.Sightseeing::after {
  content: "";
  top: 45%;
}

.Sightseeing::before {
  content: "";
  top: 55%;
}

.munnarCardsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.munnarCardsContainer > *:nth-last-child(-n + 1) {
  display: flex;
  justify-content: start;
}

.sightseeingCardsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.sightseeingCardsContainer > * {
  margin: 0;
}

.sightseeingCardsContainer > *:nth-last-child(1) {
  margin-right: auto;
  margin-left: 26px;
  margin-top: 20px;
}

.otherCardsContainer {
  display: flex;
  justify-content: start;
  margin-left: 26px;
}

@media screen and (max-width: 1024px) {
  .munnar-intro {
    padding: 15px 30px;
  }

  .munnar-intro h1 {
    font-size: 2.2rem;
  }

  .Sightseeing {
    font-size: 36px;
  }

  .munnarCardsContainer {
    gap: 20px;
  }

  .munnarCardsContainer > *:nth-last-child(-n + 1) {
    margin: 0;
    margin-right: 50%;
  }

  .sightseeingCardsContainer {
    gap: 20px;
  }

  .sightseeingCardsContainer > *:nth-last-child(-n + 1) {
    margin-right: auto;
    margin: 0;
  }
  .otherCardsContainer {
    display: flex;
    justify-content: start;
    margin-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .munnar-intro {
    padding: 10px 20px;
  }

  .munnar-intro h1 {
    font-size: 2rem;
  }

  .Sightseeing {
    font-size: 32px;
  }

  .munnarCardsContainer {
    gap: 20px;
  }

  .sightseeingCardsContainer {
    gap: 20px;
  }
  .otherCardsContainer {
    display: flex;
    justify-content: start;
    margin: 0;
    margin-left: 45px;
  }
}

@media screen and (max-width: 480px) {
  .munnar-intro {
    padding: 10px;
  }

  .munnar-intro h1 {
    font-size: 1.5rem;
  }

  .munnar-intro h1::after {
    width: 15%;
  }

  .Sightseeing {
    font-size: 24px;
  }

  .Sightseeing h2 {
    padding: 0 15px;
  }

  .munnarCardsContainer > *:nth-last-child(-n + 1) {
    margin: auto;
    margin-right: 20px;
  }
}
