.Section5Intro {
  padding: 20px 40px;
  /* text-align: center; */
}

.Section5Intro > p {
  color: black;
  font-size: 1.1rem;
}

.Section5Intro h1 {
  font-size: 2.5rem;
  text-align: center;
}

.Section5Intro h1::after {
  content: "";
  margin-left: 45%;
  padding: 2px;
  width: 10%;
  display: flex;
  background-color: #32b67a;
}

.Section5Info {
  margin-top: 30px;
}

.Section5Info p {
  color: #7c7c8b;
}

.friAndFam {
  margin-top: 20px;
  font-size: 40px;
  line-height: 1.125em;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.friAndFam h2 {
  background-color: #f4f4f4;
  display: inline-block;
  position: relative;
  color: rgb(0, 0, 0);
  padding: 0 30px;
  font-weight: 600;
  z-index: 1;
  font-size: 2rem;
}

.friAndFam::after,
.friAndFam::before {
  content: "";
  padding: 0.5px;
  display: flex;
  position: absolute;
  width: 100%;
  background-color: #7c7c8b;
}

.friAndFam::after {
  content: "";
  top: 45%;
}

.friAndFam::before {
  content: "";
  top: 55%;
}

.Section5CardsContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  padding-left: 5%;
  margin-top: 30px;
}

.view-trip-btn {
  padding: 10px 20px;
  margin-top: 30px;
  margin-left: 43%;
  margin-bottom: 20px;
  border: 2px solid #00c853;
  border-radius: 4px;
  background-color: transparent;
  color: #00c853;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-trip-btn:hover {
  background-color: #19692a;
  color: white;
}

@media screen and (max-width: 1028px) {
  .Section5Intro {
    padding: 18px 35px;
  }

  .Section5Intro h1 {
    font-size: 2.3rem;
  }

  .friAndFam {
    font-size: 36px;
  }

  .Section5CardsContainer > *:nth-last-child(-n + 1) {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .Section5Intro {
    padding: 16px 30px;
  }

  .Section5Intro h1 {
    font-size: 2.1rem;
  }

  .friAndFam {
    font-size: 32px;
  }

  .Section5CardsContainer {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .Section5Intro {
    padding: 14px 25px;
  }

  .Section5Intro h1 {
    font-size: 1.9rem;
  }

  .friAndFam {
    font-size: 28px;
  }

  .friAndFam h2 {
    padding: 0 25px;
  }

  .Section5CardsContainer {
    gap: 20px;
  }

  .singaporeCardsContainer > *:nth-last-child(-n + 1) {
    margin-right: auto;
    margin-left: 35px;
  }
}

@media screen and (max-width: 576px) {
  .Section5Intro {
    padding: 12px 20px;
  }

  .Section5Intro h1 {
    font-size: 1.7rem;
  }

  .Section5Intro h1::after {
    width: 15%;
  }

  .friAndFam {
    font-size: 24px;
  }

  .friAndFam h2 {
    padding: 0 20px;
  }

  .Section5CardsContainer {
    justify-content: center;
    gap: 15px;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .Section5Intro {
    padding: 10px 15px;
  }

  .Section5Intro h1 {
    font-size: 1.5rem;
  }

  .friAndFam {
    font-size: 22px;
  }

  .friAndFam h2 {
    padding: 0 15px;
  }
  .Section5CardsContainer {
    padding: 0;
  }
  .Section5CardsContainer > *:nth-last-child(-n + 1) {
    margin-right: auto;
    margin-left: 15px;
  }
}
