/* Base Styles */
.darjeeling-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.darjeeling-container h1 {
  font-size: 2.5rem;
  margin: 2rem;
}

.darjeeling-container p {
  color: #848282;
  text-align: justify;
  margin-left: 2rem;
}

.darjeeling-cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-left: 40px;
  margin-top: 30px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .darjeeling-card {
    width: 45%;
  }

  .darjeeling-cards {
    padding-left: 20px;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .darjeeling-container h1 {
    font-size: 1.8rem;
  }

  .darjeeling-card {
    width: 100%;
  }

  .darjeeling-cards {
    padding-left: 10px;
    gap: 15px;
  }

  .price-section {
    font-size: 1.2rem;
    gap: 10px;
  }

  .title {
    font-size: 1.5rem;
  }

  .card-details p {
    font-size: 1rem;
  }

  .view-details-btn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .darjeeling-container {
    padding: 10px;
  }

  .darjeeling-container h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .price-section {
    font-size: 1rem;
  }

  .title {
    font-size: 1.3rem;
    margin: 10px;
  }

  .card-details {
    margin: 10px;
  }
}
