.Ooty-details-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px 50px;
  scroll-behavior: smooth;
}

.Ooty-detail-right {
  width: 60%;
}

.Ooty-detail-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
}

.Ooty-detail-title {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Ooty-detail-title h1 {
  font-size: 2rem;
}

.Ooty-detail-title h1::after {
  content: "";
  display: flex;
  padding: 2px;
  width: 50%;
  background-color: #32b67a;
}

.Ooty-no-days {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgb(211, 210, 210);
}

.Ooty-details-images-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.Ooty-details-card-image {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

/* Arrow buttons */

.Ooty-details-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 50%;
  transition: background 0.3s, opacity 0.3s;
  opacity: 0;
  visibility: hidden;
}

.Ooty-details-images-slider:hover .Ooty-details-arrow {
  opacity: 1;
  visibility: visible;
}

/* Positioning for left and right arrows */
.Ooty-details-arrow.left {
  padding: 8px 16px;
  left: 10px;
}

.Ooty-details-arrow.right {
  right: 10px;
  padding: 8px 16px;
}

.Ooty-detail-description {
  margin: 30px 0px;
}

.Ooty-detail-description p {
  font-size: 1rem;
}

.Ooty-info-details {
  display: flex;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  border: 1px solid black;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
}

.Ooty-detail-nav-sticky {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  font-size: 1.5em;
  margin-top: 20px;
  width: auto;
  max-width: 100%;
  justify-content: space-around;
  height: 10vh;
  display: flex !important;
  align-items: center;
  box-sizing: border-box;
  z-index: 10;
}

.Ooty-detail-nav-sticky ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid black;
  position: relative;
  height: 100%;
}

.Ooty-detail-nav-sticky ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  flex: 1;
  text-align: center;
  position: relative;
}

.Ooty-detail-nav-sticky ul li::after {
  content: "";
  position: absolute;
  right: 0;
  top: -2px;
  bottom: -2px;
  width: 1px;
  background-color: black;
}

.Ooty-detail-nav-sticky ul li:last-child::after {
  display: none;
}

.Ooty-detail-overview {
  margin: 30px 0px;
}

.Ooty-detail-overview h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.Ooty-detail-overview p {
  font-size: 1.1rem;
}

.Ooty-detail-itinerary {
  margin: 30px 0px;
}

.Ooty-detail-itinerary h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.Ooty-qna-container {
  margin: 50px 0px;
}

.Ooty-accordion-header {
  cursor: pointer;
  background: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Ooty-accordion-header h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.Ooty-accordion-content p {
  font-size: 1rem;
}

.Ooty-inclusions-container {
  margin: 30px 0px;
}

.Ooty-inclusions-container h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.Ooty-inclusions-container h2 {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.Ooty-inclusions {
  margin-bottom: 1.2rem;
}

.Ooty-exclusion-container h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.Ooty-hotels-container {
  margin: 40px 0px;
}

.Ooty-hotels-container h1 {
  font-size: 1.8rem;
  margin-bottom: 1.3rem;
  font-weight: 500;
}

.Ooty-detail-price-container {
  width: 80%;
  height: 300px;
  padding: 50px;
  margin-top: 50px;
  background-color: white;
}

.Ooty-detail-discount {
  margin-bottom: 20px;
}

.Ooty-detail-discount h1 {
  padding: 5px 10px;
  display: inline;
  background-color: #fceaea;
  color: #e75040;
  font-weight: 500;
}

.Ooty-originalPrice span {
  display: inline-flex;
  margin-right: 10px;
  font-size: 1rem;
}

.Ooty-originalPrice span del {
  color: #919191;
  font-size: 1.2rem;
  font-weight: 500;
}

.Ooty-finalPrice h1 {
  font-weight: 600;
  font-size: 2rem;
}

.Ooty-finalPrice span {
  color: #919191;
}

.Ooty-availableBtn {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #32b67a;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  height: 50px;
  border-radius: 5px;
}

.Ooty-tripAdvisor-container {
  width: 300px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border: 1px solid green;
}

.Ooty-tripAdvisor-img {
  width: 100px;
}

.Ooty-tripAdvisor-content h2 {
  font-weight: 700;
  margin-top: 20px;
  line-height: 10px;
  color: black;
}

@media screen and (max-width: 1208px) {
  .Ooty-details-container {
    height: auto;
  }

  .Ooty-availableBtn {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .Ooty-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
    width: 100%;
  }

  .Ooty-detail-right {
    width: 90%;
    padding: 0 10px;
  }

  .Ooty-detail-price-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 111;
    box-shadow: -2px 0 16px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    padding: 24px 24px 16px;
    background-color: #fff;
  }

  .Ooty-detail-left {
    width: 90%;
    padding-left: 0px;
  }

  .Ooty-tripAdvisor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    padding: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 550px) {
  .Ooty-detail-title h1 {
    font-size: 1.5rem;
  }

  .Ooty-info-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }

  .Ooty-detail-nav-sticky {
    background-color: rgb(255, 255, 255);
    font-size: 0.8em;
    margin-top: 20px;
    justify-content: space-around;
    max-width: 100%;
    display: flex !important;
    align-items: center;
    box-sizing: border-box;
    z-index: 10;
  }
}

@media (max-width: 480px) {
  .Ooty-detail-description p {
    font-size: 0.9rem;
  }

  .Ooty-detail-overview h1,
  .Ooty-detail-itinerary h1,
  .Ooty-inclusions-container h1,
  .Ooty-hotels-container h1 {
    font-size: 1.2rem;
  }

  .Ooty-accordion-header h3,
  .Ooty-accordion-content {
    font-size: 1rem;
  }

  table {
    display: block;
    width: 50%;
    min-width: 220px;
  }

  th,
  td {
    display: block;
    text-align: left;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f7fafc;
    font-weight: bold;
  }
}

@media (max-width: 320px) {
  .Ooty-detail-description p {
    font-size: 0.9rem;
  }

  .Ooty-detail-overview h1,
  .Ooty-detail-itinerary h1,
  .Ooty-inclusions-container h1,
  .Ooty-hotels-container h1 {
    font-size: 1.2rem;
  }

  .hotels-table {
    width: 100%;
  }
  .hotels-container {
    padding: 0;
  }

  .Ooty-detail-price-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 185px;
    z-index: 111;
    box-shadow: -2px 0 16px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    padding: 24px 24px 16px;
    background-color: #fff;
  }
  .Ooty-availableBtn {
    width: auto;
    padding: 2%;
  }

  .Ooty-tripAdvisor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    padding: 20px;
    margin-top: 20px;
  }
}
