.About-description {
  padding: 20px;
}

.About-description img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

/* Add hover effect */
.About-description img:hover {
  transform: scale(1.05); /* Slightly enlarge the image */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}
.About-description p {
  padding: 10px 15px;
  line-height: 1.6;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 20px auto;
}

/* Set fixed height for images to ensure consistency */
.image-grid img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

/* Adjust grid layout for tablet screens */
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 images per row */
    gap: 16px;
  }
}

/* Adjust grid layout for mobile screens */
@media (max-width: 480px) {
  .image-grid {
    grid-template-columns: 1fr; /* 1 image per row */
  }
}

/* Ensure images are fully responsive */
.image-grid img {
  width: 100%;
  height: 200px; /* Fixed height to maintain equal size */
  border-radius: 10px;
  object-fit: cover;
}
